<%- include('header'); -%>

    <div class="box" id="heading">
    <h1>Today is <%=day%></h1>
    </div>
    <div class="box">
    
        <% newListItems.forEach(function(item){ %>
            <div class="item"><input type="checkbox"><p><%=item%></p></div>
        <% }) %>

    <form action='/' method="POST" class="item">
        <input type="text" name="newItem" placeholder="New Item">
        <button type="submit">+</button>
    </form>
    </div>

<%- include('footer'); -%>